*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0,0,0,.75),rgba(0, 0, 0,.75)),
    url(../images/pexels-pixabay-262048.jpg);
     background-position: center;
    background-size: cover;
    position: relative;
     
}
.container nav{
    margin: 0px 10% ;
    padding: 30px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.container nav .logo{
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.container nav ul{
    list-style: none;

}
.container nav ul li{
    display: inline-block;
    color: white;
    margin-left: 17px;
    padding:0px 15px;
    font-size: 13px;
}
.container nav ul li::before{
    content: ' ';
    position: absolute;
     
    background-color: darkgreen;
    width: 0px;
    height: 3px;
     top: 50px;
      margin-left: 8px;
      transition: .5s;
      visibility: hidden;


}
.container nav ul li:hover:before{
    width: 45px;
    visibility:visible;
}
.container .content{
    position: absolute;
   
    top:45%;
    left: 51%;
    transform: translate(-50%,-50%);
     
   
}
.container .content h1{
    color: white;
    font-size: 60px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.container .content p{
    color: white;
    letter-spacing: 1px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 50px;
}
.container .content .button{
    text-align: center;
    transform: translateX(-15px);
}
.container .content .button a{
    text-decoration: none;
    color: white;
    
    padding: 10px 60px;
    background-color:transparent;
    margin-left: 15px;
    border-radius: 15px ;
    border: 2px solid darkgreen;
    position: relative;
    

}
span{
    width: 0%;
    height: 100%;
    background-color: darkgreen;
    border-radius: 13px;
    position: absolute;
    left: -2px;
    top: -2px;
    margin: 2px;
    overflow: hidden;
    z-index: -1;
    visibility: hidden;
    transition: .5s;

}
.container .content .button a:hover span{
    visibility:visible;
    width: 100%;
    
}